.hed{
    background: linear-gradient(to right, #CE00FF, rgb(5, 103, 231));
}

.tabletShow {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
  
.tabletShow img {vertical-align: middle;}
  
.tabletShow .content {
    position: absolute;
    top: 3rem;
    height: 28rem;
    left: 7rem;
    background-color: #f1f1f1;
    width: 76%;
    padding: 0px;
}

.cardPreview{
    color: black;
    box-shadow: 0 6px 20px 0 rgba(82, 76, 67, 0.2);
    border-radius: 9px;
    cursor: pointer;
}

.cardPreview .card-img-top{
    border-radius: 9px 9px 0px 0px;
}

.cardPreview a{
    color: black;
    font-size: 11px;
    padding-left: .1rem;
    font-weight:650;
    text-decoration: none;
}
.cardPreview p{
    font-size: 10px;
    color:#888686 !important;
    font-weight: bold;
}
.content h6,.content p{
    color: black;
}

.content .navbar .nav-link{
    font-size: 12px !important;
}

.arrow{
    color: rgba(184, 8, 219, 0.795);
}

.navHead .nav-item{
    padding: .01rem 1.5rem;
}
.navHead .nav-item .nav-link{
    color: rgb(206, 206, 206);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
}

.navHead .nav-item .active{
    border-bottom: 2px solid white;
    color: white;
}

/* ============================================ items ============================ */
.designPreview h6{
    color: #888686;
    font-size: 12px;
}
.designPreview{
    background-color: white;
}
.designPreview p{
    font-size: 12px;
    font-weight: 500;
}
.list-group-horizontal .list-group-item{
    padding: 5px 2px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    /* border-radius: 5px 0px;  */
    background-color: #CE00FF;
}
.smallText{
    font-size: 12px;
}
.cardItem{
    background: none;
    border: none;
}